* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0.5rem 2rem;
}
 
.navbar .navbar-brand {
    color: red;
    font-weight: 400;
    font-size: 2rem;
}

.navbar .navbar-nav .nav-link {
    color: #000;
}

/* start organizers styling */

 .organizers {
     background-color: red;
 }

/* End organizers styling */


/* start faq styling */

  .accordion {
      padding: 0 2.5rem;
  }

  .accordion-button {
      background-color: red;
      color: #fff;
  }

/* End faq styling */

/* start footer styling */


footer {
	text-align: center;
	margin-top: 5rem;
}

footer p > a {
	color: red;
}

/* End footer styling */


@media (max-width: 390px)  {

    .navbar {
        padding: 0;
    }

}














@media (min-width: 390px) and (max-width: 500px) {

    .navbar {
        padding: 0;
    }

}







@media (min-width: 768px) and (max-width: 900px)
